.holo-img-title {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: var(--spacing-md);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-2xl);
  text-transform: capitalize;
  text-wrap: wrap;
  word-break: break-word;
  line-height: var(--font-size-2xl);
  opacity: 0;
  transition: opacity var(--transition-hover-off);

  text-shadow: calc(var(--holo-img-x-offset) * 2px)
    calc(var(--holo-img-y-offset) * -2px)
    calc(var(--holo-img-tilt-magnitude) * 2.5px) var(--color-bg);
}

.holo-img-title:hover {
  transition: opacity var(--transition-hover-on);
  opacity: 1;
}

.always-active {
  transition: opacity var(--transition-hover-on);
  opacity: 0.5;
}
