.holo-img-title {
  height: 100%;
  position: absolute;
  padding: var(--spacing-md);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-2xl);
  text-transform: capitalize;
  text-wrap: wrap;
  word-break: break-word;
  line-height: var(--font-size-2xl);
  opacity: 0;
  transition: opacity var(--transition-hover-off);
  --text-shadow-position: calc(var(--tilt-fx-rotation-y-degrees-num, 0) * 6px)
    calc(var(--tilt-fx-rotation-x-degrees-num, 0) * -4px);
  text-shadow: var(--text-shadow-position) 2px var(--color-bg);
}

.holo-img-title:hover {
  transition: opacity var(--transition-hover-on);
  opacity: 1;
}

.always-active {
  transition: opacity var(--transition-hover-on);
  opacity: 0.5;
}
