.breadcrumb-list {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  list-style: none;
  font-size: var(--font-size-md);
  font-family: var(--font-family-mono);
  text-transform: uppercase;
}

.breadcrumb-list svg {
  color: var(--color-fg-muted);
}
