.breadcrumb-list {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  list-style: none;
}

.breadcrumb-list li {
  font-size: var(--font-size-md);
  font-family: var(--font-family-mono);
}

.breadcrumb-list svg {
  color: var(--color-fg-hover);
}
