.adventure-screen {
  padding: var(--spacing-md);
  display: grid;
  gap: var(--spacing-xl);
  grid-template-columns: auto 1fr;
}

.title-input {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: var(--spacing-md) 0;
  font-size: var(--font-size-2xl);
}

.text-edit-area {
  max-height: 100%;
  overflow-y: auto;
}
