.adventure-screen {
  padding: var(--spacing-md);
  display: grid;
  gap: var(--spacing-xl);
  grid-template-columns: auto 1fr;
}

.text-edit-area {
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto 1fr;
}

.title-input {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: var(--spacing-md) 0 0;
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-medium);
}

.adventure-stats {
  display: flex;
  list-style-type: none;
  gap: var(--spacing-xl);
  color: rgb(var(--color-fg-rgb), 0.6);
  margin-bottom: var(--spacing-md);
}

.adventure-stats span {
  color: var(--color-fg);
}
