.light-source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
}

.light-source-bright {
  background: radial-gradient(
    ellipse 120% 100% at 90% 90%,
    transparent 0%,
    rgb(var(--color-primary-rgb), 0.15) 70%,
    rgb(var(--color-primary-rgb), 0.25) 85%,
    rgb(var(--color-primary-rgb), 0.35) 99%
  );
}

.light-source-dim {
  background: radial-gradient(
    ellipse 280% 240% at 100% 100%,
    transparent 0%,
    rgb(var(--color-primary-rgb), 0.05) 70%,
    rgb(var(--color-primary-rgb), 0.15) 85%,
    rgb(var(--color-primary-rgb), 0.25) 99%
  );
}
