.entity-popup-body {
  display: flex;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  background-color: var(--color-bg-muted);
}

.entity-popup-image {
  border-radius: var(--radius-md);
}

.entity-popup-summary {
  max-width: var(--summary-max-width);
  min-width: var(--summary-content-height);
  max-height: var(--summary-content-height);
}
