.entity-popup-body {
  display: flex;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  background-color: var(--color-bg-muted);
  height: calc(var(--summary-content-height) + 2 * var(--spacing-md));
  border-radius: inherit;
  max-width: var(--summary-max-width);
}

.entity-popup-image {
  border-radius: var(--radius-md);
}

.entity-popup-summary {
  max-height: var(--summary-content-height);
  overflow-y: auto;
}

.entity-popup-summary--content {
  display: flex;
}
