.input {
  width: 100%;
  font-size: var(--font-size-base);
  font-family: inherit;
  color: var(--color-text);
  border: none;
  background-color: transparent;
  line-height: 0;
  padding: 0;
  margin: 0;
  transition: var(--transition-fast);
}

.input:hover {
  color: var(--color-primary);
  transition: var(--transition-fast);
}

.input:hover::placeholder {
  color: var(--color-primary);
}

.input:focus {
  outline: none;
  color: var(--color-fg);
}

.input::placeholder {
  color: var(--color-text-muted);
}

.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
