.input {
  width: 100%;
  font-size: var(--font-size-base);
  font-family: inherit;
  color: var(--color-fb);
  border: none;
  background-color: transparent;
  line-height: 0;
  padding: 0;
  margin: 0;
  transition: var(--transition-fast);
}

.input:hover,
.input:hover::placeholder {
  color: var(--color-primary);
  transition: var(--transition-fast);
}

.input::placeholder {
  color: var(--color-fg-hover);
}

.input:focus {
  outline: none;
  color: var(--color-fg);
}

.input:disabled:hover,
.input:disabled::placeholder {
  color: var(--color-fg-muted);
  cursor: not-allowed;
}
