.image-by-id {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: var(--rt-holo-img-frame-x, 50%)
    var(--rt-holo-img-frame-y, 0%);
  transform: scale(var(--rt-holo-img-frame-zoom, 1));
  transform-origin: var(--rt-holo-img-frame-x, 50%)
    var(--rt-holo-img-frame-y, 0%);
}
