.settings-screen {
  padding: var(--spacing-md);
  justify-self: center;
  width: fit-content;
  min-height: 0;
}

.settings-screen--content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  overflow-y: auto;
  height: 100%;
}
