.settings-screen {
  padding: var(--spacing-md);
  display: flex;
  justify-content: center;
  width: fit-content;
}

.settings-screen--sections {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}
