.entity-popup-body {
  display: flex;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  background-color: var(--color-bg-light);
}

.entity-popup-image {
  object-fit: cover;
  border-radius: var(--radius-md);
  flex-shrink: 0;
}

.entity-popup-summary {
  max-width: 400px; /* one-off */
  min-width: 200px; /* one-off */
  max-height: var(--summary-content-height);
}
