.tilt-fx-container {
  transform-style: preserve-3d;
  perspective: 200px;
  filter: drop-shadow(0 0 0 transparent) drop-shadow(0 0 0 transparent);
  transition: filter var(--transition-base);
}

.tilt-fx-container:has(.tilt-fx.active) {
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
  transition: filter var(--transition-base);
}

.tilt-fx {
  position: relative;
  transform: rotateY(var(--tilt-fx-rotation-y-degrees))
    rotateX(var(--tilt-fx-rotation-x-degrees));
  transition: var(--transition-base);
  outline: 1px solid transparent;
  box-shadow: 0 0 5px 1px transparent;
}

.tilt-fx.active {
  transition: 0s; /* needs to be 0s otherwise the tilt movement will move with delay */
  outline: var(--border-thin) solid rgb(var(--color-primary-rgb), 0.4);
  box-shadow: 0 0 10px 1px rgb(var(--color-primary-rgb), 0.4);
}

.tilt-fx:hover {
  background: rgb(var(--color-bg-rgb), 0.5);
}

.holo-img {
  filter: brightness(1) contrast(1) saturate(1);
  transition: filter var(--transition-hover-off);
}

.holo-img.active {
  filter: brightness(1.3) contrast(1.2) saturate(1.1);
  transition: filter var(--transition-hover-on);
}
