.holo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: var(--transition-hover-off);
  filter: brightness(1) contrast(1) saturate(1);
}

.holo-img.active {
  filter: brightness(1.3) contrast(1.2) saturate(1.1);
}

.holo-img-title {
  padding: var(--spacing-md);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-2xl);
  text-transform: capitalize;
  text-wrap: wrap;
  word-break: break-word;
  line-height: var(--font-size-2xl);
}

.tilt-fx-container {
  transform-style: preserve-3d;
  perspective: 200px;
  border-radius: var(--radius-2xl);
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.5))
    drop-shadow(0 0 0 rgba(0, 0, 0, 0.1));
  transition: filter var(--transition-hover-off);
}

.tilt-fx-container:has(.tilt-fx.active) {
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
  transition: filter 0s;
}

.tilt-fx {
  position: relative;
  transform: rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  transition: var(--transition-hover-off);
  border-radius: var(--radius-2xl);
}

.tilt-fx.active {
  transition: 0s;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgb(var(--color-fg-rgb), 0.4);
}

.tilt-fx:hover {
  border-radius: var(--radius-2xl);
  background: rgb(var(--color-bg-rgb), 0.5);
}
