.ipfo {
  position: relative;
  width: 600px;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipfo:active {
  cursor: grabbing;
}

.ipfo-image-frame {
  position: relative;
  width: var(--rt-ipfo-frame-w);
  height: var(--rt-ipfo-frame-h);
  overflow: hidden;
  border-radius: var(--radius-2xl);
  border: 2px solid var(--color-primary);
  box-sizing: content-box;
}

.ipfo-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(var(--rt-ipfo-zoom, 1));
  object-position: var(--rt-ipfo-x, 50%) var(--rt-ipfo-y, 0%);
  transform-origin: var(--rt-ipfo-x, 50%) var(--rt-ipfo-y, 0%);
  pointer-events: none;
  user-select: none;
}

.ipfo-image--bg {
  position: absolute;
  width: var(--rt-ipfo-scaled-w);
  height: var(--rt-ipfo-scaled-h);
  translate: var(--rt-ipfo-bg-tx, var(--rt-ipfo-bg-x-offset))
    var(--rt-ipfo-bg-ty, 0px);
  transform-origin: var(--rt-ipfo-x, 50%) var(--rt-ipfo-y, 0%);
  transform: scale(var(--rt-ipfo-zoom, 1));
  filter: blur(1px) brightness(0.5);
  pointer-events: none;
  user-select: none;
}
