.adventure-btn {
  --transition-duration-highlight: 0.3s;
  --transition-duration-pressed: 0.5s;
}

.children-container {
  transition: var(--transition-duration-highlight) ease;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.children-container img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.children-container:hover {
  background: rgb(var(--color-bg-rgb), 0.5);
}
