.new-adventure-btn {
  --transition-duration-highlight: 0.3s;
  --transition-duration-pressed: 0.5s;
}

.plus-symbol {
  transition: var(--transition-duration-highlight) ease;
  color: var(--color-primary);
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  transform: scale(1) translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.plus-symbol-container {
  transition: var(--transition-duration-highlight) ease;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-symbol-container:hover {
  background: rgb(var(--color-bg-rgb), 0.5);
}

.new-adventure-btn:hover .plus-symbol {
  transform: scale(2) translateZ(0);
  text-shadow: 0 0 1rem var(--color-primary);
  will-change: font-size;
  color: var(--color-text);
}

.activated {
  transition: var(--transition-duration-pressed) ease-out;
  opacity: 0;
  transform: scale(1.5) translateZ(0);
  text-shadow: 0 0 1rem var(--color-primary);
  will-change: font-size;
  color: var(--color-text);
}
