.screens-summary {
  gap: var(--spacing-sm);
  padding: calc(var(--spacing-md) - var(--spacing-xs));
  padding-left: 0;
  width: fit-content;
}

.screens-summary--content {
  height: var(--summary-content-height);
  max-width: var(--summary-max-width);
  overflow-y: auto;
  display: flex;
}
