.screens-summary {
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  width: fit-content;
}

.screens-summary--scroll-area {
  max-width: var(--summary-max-width);
  height: var(--summary-content-height);
}
