.color-input-wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
}

.color-input-hidden {
  position: absolute;
  width: 0;
  height: 100%;
  opacity: 0;
  left: -80px; /* one-off */
  pointer-events: none;
}

.color-input-label {
  cursor: pointer;
  color: rgb(var(--rt-color-input-color));
  transition: transform var(--transition-fast);
  will-change: transform;
}

.color-input-label:hover {
  transform: scale(1.1);
}
