aside {
  width: calc(15rem + 2rem);
  z-index: 1000;
}

aside > * {
  width: 100%;
  height: 100%;
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
