aside {
  width: calc(15rem + 2rem);
  padding: 1rem;
  z-index: 1000;
}

aside > * {
  width: 100%;
  height: 100%;
  padding: var(--spacing-md);
}

.fw-bw-btn-container {
  display: flex;
  justify-content: space-between;
}

.fw-bw-btn {
  width: 2rem;
  height: 2rem;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
