.delete-dialog {
  padding: var(--spacing-2xl);
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.delete-dialog h1 {
  text-align: center;
}

.delete-dialog p {
  width: 100%;
}

.delete-dialog-confirm-text {
  color: var(--color-danger);
}

.delete-dialog-input {
  background-color: transparent;
  text-shadow: 0 0 5px var(--color-bg);
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--color-primary);
}

.delete-dialog-input:focus {
  color: var(--color-danger);
  border-bottom-color: var(--color-danger);
}
