.adventure-form-pop-up {
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
}

.adventure-form-pop-up h2 {
  margin-bottom: 1.5rem;
  color: var(--color-text-secondary);
}
.adventure-form-pop-up form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
}

.form-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
