.popup-background {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--color-bg-rgb), 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: popUpBackgroundFadeIn var(--transition-active-animation);
}

.popup-background.closing {
  animation: popUpBackgroundFadeOut var(--transition-active-animation) ease-out;
}

.popup-content {
  max-width: 90vw;
  max-height: 90vh;
  animation: popUpContentPlopIn var(--transition-active-animation)
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.popup-content.closing {
  animation: popUpContentPlopOut var(--transition-active-animation)
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes popUpBackgroundFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popUpBackgroundFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes popUpContentPlopIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popUpContentPlopOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
