.action-card {
  cursor: pointer;
  transition: 0.3s ease;
  user-select: none;
}

.action-card:hover {
  background: var(--color-bg-50);
  box-shadow: 0px 0px 2px 1px var(--color-fg-20) inset;
  filter: drop-shadow(0 0 1rem var(--color-fg));
}

.action-card:active {
  transform: translateY(-2px);
}

.action-card:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
