.button-wrapper {
  border-radius: var(--radius-xl);
  width: 100%;
}

.label-wrapper {
  padding: var(--spacing-sm);
  color: var(--color-primary);
  transition: var(--transition-hover-on);
}

.label-wrapper:hover {
  color: var(--color-fg);
  box-shadow: var(--box-shadow-active);
  transition: var(--transition-hover-on);
}

.button-wrapper--danger:hover {
  box-shadow: var(--box-shadow-inset-danger);
  background: var(--background-danger);
}

.label-wrapper--danger:hover {
  color: var(--color-danger);
  text-shadow: 0 0 5px var(--color-bg);
}
