.button {
  border-radius: var(--radius-xl);
}

.button-label {
  width: 100%;
  border-radius: var(--radius-xl);
  padding: var(--spacing-sm);
  color: var(--color-primary);
  transition: var(--transition-hover-on);
}

.button-label:hover {
  color: var(--color-fg);
  box-shadow: var(--box-shadow-active);
  transition: var(--transition-hover-on);
}

.button-label--danger:hover {
  color: var(--color-danger);
  text-shadow: 0 0 5px var(--color-bg);
  box-shadow: var(--box-shadow-inset-danger);
  background: var(--background-danger);
}
