.button-wrapper {
  border-radius: var(--radius-xl);
  width: 100%;
}

.label-wrapper {
  padding: var(--spacing-sm);
  color: var(--color-primary);
  transition: var(--transition-hover-on);
}

.label-wrapper:hover {
  color: var(--color-fg);
  box-shadow: var(--box-shadow-active);
  transition: var(--transition-hover-on);
}

.button-wrapper--danger:hover {
  box-shadow: inset 0 -5px 10px rgb(var(--color-danger-hover-rgb), 0.8);
  background: radial-gradient(
    ellipse 50% 80% at 50% 100%,
    rgb(var(--color-danger-hover-rgb), 0.8),
    transparent
  );
}

.label-wrapper--danger:hover {
  color: var(--color-danger);
  text-shadow: 0 0 5px var(--color-bg);
}
