.sortable-list {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: var(--spacing-md);
  gap: var(--spacing-sm);
}

.sortable-list-scroll-area {
  flex: 1;
  min-height: 0;
}

.sortable-list-table {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  /* prevents clipping of hover shadow of new-item-button */
  padding: var(--spacing-xs);
}

.sortable-list-divider {
  margin: var(--spacing-sm) var(--spacing-md);
}

.sortable-list-no-results {
  padding: var(--spacing-lg);
  text-align: center;
  color: var(--color-text-muted);
}

.sortable-list-pinned-heading {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-text-muted);
  text-transform: uppercase;
  padding: var(--spacing-sm) var(--spacing-xs);
}
