.screen-nav-btn-content {
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
  text-decoration: none;
}

.screen-nav-btn-content:hover {
  color: var(--color-fg);
}

.screen-nav-btn-content.active {
  cursor: default;
  pointer-events: none;
  color: var(--color-fg);
}
