.holo-fx-container {
  transition: opacity var(--transition-base) ease-out;
  will-change: opacity;
  z-index: 2;
  opacity: 0;
}

.holo-fx-container.active {
  will-change: opacity;
  transition: opacity var(--transition-base) ease-out;

  opacity: 1;
}

.holo-fx-glare {
  position: absolute;
  inset: 0;

  --glare-form: ellipse
    max(var(--glare-base-dimensions), var(--glare-ellipse-y))
    max(var(--glare-base-dimensions), var(--glare-ellipse-x));

  --glare-position: var(--glare-position-x) var(--glare-position-y);

  background: radial-gradient(
    var(--glare-form) at var(--glare-position),
    rgb(var(--color-fg-rgb), 1) 0%,
    rgb(var(--color-fg-rgb), 0.2) 30%,
    transparent 100%
  );

  mix-blend-mode: overlay;
  opacity: calc(var(--glare-distance-from-center) * 0.5);
}
