.holo-fx-container {
  transition: opacity var(--transition-base) ease-out;
  will-change: opacity;
  z-index: 2;
  opacity: 0;
}

.holo-fx-container.active {
  will-change: opacity;
  transition: opacity var(--transition-base) ease-out;
  opacity: 1;
}
