.sorting-table-header {
  display: grid;
  grid-template-columns: var(--list-col-template);
}

.sorting-table-header__cell {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.sorting-table-header__cell:hover {
  background-color: var(--color-hover-bg);
}

.sorting-table-header__sort-btn {
  padding: var(--spacing-xs) var(--spacing-md);
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

.sorting-table-header__sort-btn:hover {
  background-color: transparent;
}

.sorting-table-header__cell > span,
.sorting-table-header__sort-btn > span {
  overflow: hidden;
  text-overflow: ellipsis;
}
.sort-indicator {
  flex-shrink: 0;
  transition: var(--transition-very-fast);
}

.sort-indicator__inactive {
  color: transparent;
}

.indicate-asc {
  transform: rotate(180deg);
}

.col-resize-drag-btn {
  width: 8px;
  height: 100%;
  flex-shrink: 0;
}
.col-resizable {
  cursor: col-resize;
}
