.adventure-preview {
  position: relative;
}
.adventure-preview:hover {
  cursor: pointer;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.6),
    0 0 20px 0 rgba(100, 200, 255, 0.3), 0 0 0 1px rgb(var(--color-fg-rgb), 0.7);
}

.adventure-img {
  position: absolute;
  z-index: 1;
}
.adventure-title {
  padding: var(--spacing-md);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-2xl);
  text-transform: capitalize;
  text-wrap: wrap;
  word-break: break-word;
  line-height: var(--font-size-2xl);
}
