.adventure-preview {
  position: relative;
}

.adventure-img {
  position: absolute;
  z-index: 1;
}
.adventure-title {
  padding: var(--spacing-md);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-2xl);
  text-transform: capitalize;
  text-wrap: wrap;
  word-break: break-word;
  line-height: var(--font-size-2xl);
}
