.tilt-fx-container {
  transform-style: preserve-3d;
  perspective: 200px;
  border-radius: var(--radius-2xl);
}

.tilt-fx {
  position: relative;
  transform: rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  transition: var(--transition-duration-pressed);
  border-radius: var(--radius-2xl);
  box-shadow:
    0 rgba(0, 0, 0, 0.5),
    0 rgba(0, 0, 0, 0.1);
}

.tilt-fx.active {
  transition: var(--transition-duration-highlight);
  box-shadow:
    0 10px 20px -5px rgba(0, 0, 0, 0.5),
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgb(var(--color-fg-rgb), 0.4);
}

.children-container img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.tilt-fx:hover {
  border-radius: var(--radius-2xl);
  background: rgb(var(--color-bg-rgb), 0.5);
}

.holo-fx-container {
  transition: opacity 0.5s ease-out;
  will-change: opacity;
  z-index: 2;
  opacity: 0;
}

.holo-fx-container.active {
  will-change: opacity;
  transition: opacity 0.5s ease-out;
  opacity: 0.5;
}
