.updater {
  font-size: var(--font-size-md);
  color: var(--color-primary);
  will-change: color;
  transition: color var(--transition-fast);
  display: flex;
  gap: var(--spacing-xs);
  padding: var(--spacing-md);
}

.updater:hover {
  color: var(--color-fg);
}

.updater-error {
  font-size: var(--font-size-md);
  color: var(--color-warning);
}

.updater--positive-msg {
  transition: color var(--transition-fast);
  color: var(--color-success);
}

.updater--positive-msg:hover {
  transition: color var(--transition-fast);
  color: var(--color-success);
}
