.npcs-screen {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: var(--spacing-md);
}

.npc-table {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.table-head,
.npc-list-item {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: inherit;
  text-decoration: none;
}

.table-head div {
  display: flex;
}

.new-npc-btn {
  display: flex;
  justify-content: center;
  border: none;
  min-width: 100%;
}

li {
  list-style-type: none;
}
