.npcs-screen {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: var(--spacing-md);
}

.npc-table {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  /*prevents clipping of hover shadow of new-item-button*/
  padding: var(--spacing-xs);
}

.table-head,
.npc-list-item {
  padding: 1rem;
  display: grid;
  grid-template-columns: 100px 3fr repeat(2, 1fr);
  gap: var(--spacing-lg);
}

.npc-table-head-item {
  display: flex;
  justify-content: space-between;
}

.npc-link-wrapper {
  text-decoration: none;
  color: inherit;
}

.npc-list-item {
  background-color: transparent;
  transition-duration: var(--transition-fast);
}
.npc-list-item:hover {
  background-color: var(--color-hover-bg);
}

.npc-list-item li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

.npc-placeholder-icon {
  width: 100%;
  height: auto;
  stroke-width: 1px;
  color: var(--color-primary);
}

.npc-list-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
