.npcs-screen {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: var(--spacing-md);
}

.npc-table {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(
    --spacing-xs
  ); /*prevents clipping of hover shadow of new-item-button*/
}

.table-head,
.npc-list-item {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

.table-head div {
  display: flex;
}
.npc-list-item {
  background-color: transparent;
  transition-duration: var(--transition-fast);
}
.npc-list-item:hover {
  background-color: var(--color-hover-bg);
}
