.app {
  height: 100vh;
  width: 100vw;
}

.app-container {
  display: grid;
  grid-template-columns: calc(15rem + 2rem) 1fr;
  width: 100%;
  height: 100%;
}

.screens-container {
  width: 100%;
  height: 100%;
}
