.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  padding: 0.5rem;
}

.screens-container {
  width: 100%;
  max-width: 1200px;
}
