.app {
  height: 100vh;
  width: 100vw;
  padding: var(--spacing-sm);
  display: grid;
  grid-template-columns: calc(15rem + 2rem) 1fr;
  gap: var(--spacing-sm);
}

.screens-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto calc(95vh - 3 * var(--spacing-sm));
  gap: var(--spacing-sm);
}
