.glass-panel {
  position: relative;
  overflow: hidden;

  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-lg);
  transition: box-shadow var(--transition-base);
}

.glass-fx {
  border: 1px solid var(--color-primary-10);
  border-top-color: var(--color-fg-20);
  border-left-color: var(--color-fg-20);
  box-shadow: 0px 0px 2px 1px var(--color-bg-30) inset;
  backdrop-filter: blur(5px);
}

.glass-fx:focus {
  background: var(--color-bg-50);
  box-shadow: 0px 0px 2px 1px var(--color-fg-20) inset;
  filter: drop-shadow(0 0 1rem var(--color-fg));
}

.glass-fx:disabled {
  background: repeating-linear-gradient(
    50deg,
    var(--color-error),
    var(--color-error) 10px,
    transparent 10px,
    transparent 20px
  );
}
