.glass-panel {
  position: relative;
  overflow: hidden;

  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-lg);
  transition: box-shadow var(--transition-base);
}

.glass-fx {
  border: 1px solid rgba(var(--color-primary-rgb), 0.1);
  border-top-color: rgba(var(--color-fg-rgb), 0.2);
  border-left-color: rgba(var(--color-fg-rgb), 0.2);
  box-shadow: 0px 0px 2px 1px rgba(var(--color-bg-rgb), 0.3) inset;
  backdrop-filter: blur(5px);
}

.glass-fx:focus {
  background: rgba(var(--color-bg-rgb), 0.5);
  box-shadow: 0px 0px 2px 1px rgba(var(--color-fg-rgb), 0.2) inset;
  filter: drop-shadow(0 0 1rem var(--color-fg));
}

.glass-fx:disabled {
  background: repeating-linear-gradient(
    50deg,
    var(--color-error),
    var(--color-error) 10px,
    transparent 10px,
    transparent 20px
  );
}
