.sorting-table-header {
  display: grid;
  overflow: hidden;
}

.sorting-table-header--cell {
  display: flex;
  justify-content: space-between;
}

.sorting-table-header--cell:hover {
  background-color: var(--color-hover-bg);
}

.sorting-table-header--sort-btn {
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-md);
  display: flex;
  min-width: 0;
}

.sorting-table-header--sort-btn:hover {
  background-color: transparent;
}

.sort-indicator {
  flex-shrink: 0;
  transition: var(--transition-very-fast);
}

.sort-indicator--inactive {
  color: transparent;
}

.indicate-asc {
  transform: rotate(180deg);
}

.col-resize-drag-btn {
  width: var(--spacing-md);
  height: 100%;
  flex-shrink: 0;
}
.col-resizable {
  cursor: col-resize;
}
