.menu-option-row {
  width: 100%;
  cursor: pointer;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  border-radius: var(--radius-md);
  gap: var(--spacing-sm);
  padding: var(--spacing-xs);
  padding-right: var(--spacing-md);
  color: var(--color-primary);
  transition:
    color var(--transition-fast),
    background-color var(--transition-fast);
}

.menu-option-row:hover,
.menu-option-row--selected {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.menu-option-row--active {
  color: var(--color-fg);
}

.menu-option-row-icon {
  padding: var(--spacing-xs);
  border-radius: var(--radius-sm);
}

.menu-option-row--active .menu-option-row-icon {
  background-color: var(--color-bg);
}

.menu-option-row-icon svg {
  width: var(--font-size-lg);
  height: var(--font-size-lg);
}

.menu-option-row:hover .menu-option-row-icon,
.menu-option-row--selected .menu-option-row-icon {
  box-shadow: var(--box-shadow-active);
  background-color: var(--color-bg);
  transition:
    color var(--transition-fast),
    background-color var(--transition-fast);
}
