.adventure-btn {
  --transition-duration-highlight: 0.3s;
  --transition-duration-pressed: 0.5s;
}

.children-container {
  transition: var(--transition-duration-pressed);
}

.children-container:hover {
  transition: var(--transition-duration-highlight);
  border: 1px solid rgb(var(--color-fg-rgb), 0.4);
}

.children-container img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}
