.new-adventure-btn {
  border-radius: var(--radius-2xl);
}
.new-adventure-btn:hover {
  box-shadow: var(--box-shadow-active);
}

.new-adventure-btn:hover .plus-symbol {
  transform: scale(2) translateZ(0);
  text-shadow: 0 0 1rem var(--color-primary);
  will-change: font-size;
  color: var(--color-text);
}
.plus-symbol {
  transition: var(--transition-hover-on) ease;
  color: var(--color-primary);
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  transform: scale(1) translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.activated {
  transition: var(--transition-hover-off) ease-out;
  opacity: 0;
  transform: scale(1.5) translateZ(0);
  text-shadow: 0 0 1rem var(--color-primary);
  will-change: font-size;
  color: var(--color-text);
}
