.children-container {
  transition: var(--holo-img-btn-active);
}

.children-container:hover {
  transition: var(--adventure-btn-hover);
  border: 1px solid rgb(var(--color-fg-rgb), 0.4);
}

.children-container img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}
