.sortable-list-item {
  list-style-type: none;
}

.sortable-list-item__avatar-icon {
  width: 100%;
  height: auto;
  stroke-width: 1px;
  color: var(--color-primary);
}

.sortable-list-item__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.sortable-list-item__content-container {
  width: 100%;
  padding: var(--spacing-md);
  display: grid;
}

.sortable-list-item__content-container:hover {
  background-color: var(--color-hover-bg);
}

.sortable-list-item__content-container div {
  height: 100%;

  display: flex;
  align-items: center;
  text-align: left;
  font-size: var(--font-size-lg);
}
