$gradient-stops: transparent 24%, #{$color-bright-10} 25%, transparent 25%,
  transparent 74%, #{$color-bright-30} 75%, transparent 75%;

.blueprint-grid-primary {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, $gradient-stops),
    linear-gradient(90deg, $gradient-stops);
  background-size: 100px 100px;
}
