$color-transparent: transparent;
$color-bright: rgb(248, 251, 251);
$color-bright-10: rgba(248, 251, 251, 0.1);
$color-bright-30: rgba(248, 251, 251, 0.3);
$color-bright-50: rgba(248, 251, 251, 0.5);

$color-dark: rgba(3, 19, 34);
$color-dark-10: rgba(3, 19, 34, 0.1);
$color-dark-30: rgba(3, 19, 34, 0.3);
$color-dark-50: rgba(3, 19, 34, 0.5);

$color-gm-primary: #031322;
$color-gm-primary-medium-contrast: #2b4d57;
$color-gm-primary-high-contrast: #399cbb;
$color-gm-primary-very-high-contrast: #f8fbfb;
