$color-bright: #f8fbfb;
$color-bright-10: #f8fbfb1a;
$color-bright-30: #f8fbfb4d;
$color-bright-50: #f8fbfb80;

$color-dark: #031322;
$color-dark-10: #0313221a;
$color-dark-30: #0313224d;
$color-dark-50: #03132280;

$color-gm-primary: #031322;
$color-gm-primary-medium-contrast: #2b4d57;
$color-gm-primary-high-contrast: #399cbb;
$color-gm-primary-very-high-contrast: #f8fbfb;
