$color-bright: #f8fbfb;
$color-bright-10: #f8fbfb1a;
$color-bright-20: #f8fbfb33;
$color-bright-30: #f8fbfb4d;
$color-bright-50: #f8fbfb80;

$color-dark: #031322;
$color-dark-10: #0313221a;
$color-dark-30: #0313224d;
$color-dark-50: #03132280;

$color-high-contrast: #399cbb;
$color-high-contrast-01: #399dbb01;
$color-high-contrast-10: #399cbb1a;
$color-high-contrast-30: #399cbb4d;
$color-high-contrast-50: #399cbb80;

$color-medium-contrast: #2b4d57;
