@font-face {
  font-family: 'Nuixyber';
  src: url('../_public/fonts/nuixyber/nuixyber-pro-original-regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nuixyber';
  src: url('../_public/fonts/nuixyber/nuixyber-glow-regular.woff2')
    format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nuixyber';
  src: url('../_public/fonts/nuixyber/nuixyber-glow-next-regular.woff2')
    format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Nuixyber';
  src: url('../_public/fonts/nuixyber/nuixyber-next-regular.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}
