.glass-fx {
  background: $color-high-contrast-01;
  border: 1px solid $color-bright-20;
  border-bottom-color: $color-high-contrast-10;
  border-right-color: $color-high-contrast-10;
  box-shadow: 0px 0px 2px 1px $color-dark-30 inset;
  backdrop-filter: blur(2px);
  &:focus {
    background: $color-dark-50;
    box-shadow: 0px 0px 2px 1px $color-bright-20 inset;
    filter: drop-shadow(0 0 1rem $color-bright);
  }

  &:disabled {
    background: repeating-linear-gradient(
      50deg,
      rgba(255, 0, 0),
      rgba(255, 0, 0) 10px,
      rgba(255, 255, 255, 0) 10px,
      rgba(255, 255, 255, 0) 20px
    );
  }
}
