.adventure-stats {
  display: flex;
  list-style-type: none;
  gap: var(--spacing-xs) var(--spacing-xl);
  margin-bottom: var(--spacing-md);
  flex-wrap: wrap;
}
.adventure-stats li {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}
