.button {
  color: var(--color-primary);
  background-color: transparent;
  transition-duration: var(--transition-hover-off);
}

.button:hover {
  box-shadow: var(--box-shadow-active);
  background-color: var(--color-hover-bg);
  color: var(--color-fg);
  transition-duration: var(--transition-hover-on);
}

.button.active {
  color: var(--color-fg);
  background-color: var(--color-active-bg);
  box-shadow: var(--box-shadow-active);
}

.button.active:hover {
  background-color: var(--color-hover-bg);
}

.button.disabled {
  opacity: 0.3;
  filter: grayscale(1);
  cursor: default;
  background-color: var(--color-secondary);
}

.button:active {
  transform: translateY(1px);
}
