body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
    Scrollbar
*/

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0.5rem solid transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-primary-rgb), 0.5);
  border-radius: 10rem;
  border: 0.5rem solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
  background-clip: padding-box;
}
