.screens-sidebar {
  width: calc(var(--screens-sidebar-base-width) + 2 * var(--spacing-md));
  overflow-y: auto;
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  flex-shrink: 0;
}

.screens-sidebar > * {
  flex-shrink: 0;
}
