.holo-fx-container {
  transition: opacity 0.5s ease-out;
  will-change: opacity;
  z-index: 2;
  opacity: 0;
}

.holo-fx-container.active {
  will-change: opacity;
  transition: opacity 0.5s ease-out;
  opacity: 0.5;
}
