.header-content {
  padding: var(--spacing-md);
  height: 100%;
  display: flex;
  align-items: center;
}

.header-content h1 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  width: fit-content;
  margin: 0;
  line-height: 0;
}
