.row-actions-menu-trigger {
  align-self: stretch;
  display: flex;
  background: transparent;
  transition: var(--transition-hover-on);
}

.row-actions-menu-trigger:hover {
  background: linear-gradient(90deg, transparent 0%, var(--color-surface) 70%);
  transition: var(--transition-hover-off);
}

.row-actions-menu-trigger > * {
  padding: var(--spacing-xs);
}
