.editor-popup {
  position: fixed;
  transform: translateX(-50%) translateY(calc(-100% - var(--spacing-xs)));
  z-index: var(--most-front);
  animation: editorPopupFadeIn var(--transition-fast) ease-in-out;
}

@keyframes editorPopupFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
