.ni-btn {
  border-radius: var(--radius-2xl);
  width: 100%;
  transition: box-shadow var(--transition-hover-off);
}

.ni-btn-content-container {
  border: none;
  width: 100%;
  height: 100%;
  padding: var(--spacing-sm);
}

.ni-btn:hover {
  transition: box-shadow var(--transition-hover-on);
  box-shadow: var(--box-shadow-active);
}

.ni-btn:hover .ni-btn-icon {
  transform: scale(2) translateZ(0);
  will-change: transform;
  color: var(--color-fg);
}

.ni-btn-icon {
  transition: var(--transition-hover-on) ease;
  color: var(--color-primary);
  transform: scale(1) translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.ni-btn-animation-on-click {
  transition: var(--ni-btn-animation-duration);
  opacity: 0;
  transform: scale(1.5) translateZ(0);
  text-shadow: 0 0 1rem var(--color-primary);
  will-change: font-size;
  color: var(--color-text);
}
