.new-item-btn {
  border-radius: var(--radius-2xl);
  width: 100%;
}

.new-item-btn-list-item-container {
  border: none;
}

.new-item-btn:hover .new-item-btn-list-item-label,
.new-item-btn:hover .new-item-btn-adventure-label {
  transform: scale(2) translateZ(0);
  text-shadow: 0 0 1rem var(--color-primary);
  will-change: font-size;
  color: var(--color-text);
}

.new-item-btn:hover .new-item-btn-list-item-label {
  transform: scale(1.2) translateZ(0);
}

.new-item-btn-adventure-label,
.new-item-btn-list-item-label {
  transition: var(--transition-hover-on) ease;
  color: var(--color-primary);
  transform: scale(1) translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.new-item-btn-adventure-label {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
}

.new-item-btn-list-item-label {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}

.animate-new-item-btn-on-click {
  transition: var(--transition-active-animation);
  opacity: 0;
  transform: scale(1.5) translateZ(0);
  text-shadow: 0 0 1rem var(--color-primary);
  will-change: font-size;
  color: var(--color-text);
}
