.text-editor-layout {
  padding: var(--spacing-md);
  display: grid;
  gap: var(--spacing-lg);
  grid-template-columns: auto 1fr;
  width: fit-content;
  justify-self: center;
}

.text-editor-layout--text-area {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: fit-content;
}
