.action-container {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: inherit;
}

.action-container:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.action-container:disabled {
  cursor: auto;
}
