.faction-summary {
  display: grid;
  gap: var(--spacing-sm);
  grid-template-rows: auto 1fr;
  padding: var(--spacing-md);
  height: var(--summary-content-height);
  max-width: var(--summary-max-width);
}

.faction-name-input {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-medium);
}
