.image-viewer-dialog {
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - var(--spacing-xl));
  max-height: calc(100vh - var(--spacing-xl));
}

.image-viewer-dialog-content {
  display: flex;
  justify-content: center;
}

.image-viewer-dialog-img {
  max-width: 100%;
  max-height: calc(
    var(--dialog-max-height) - var(--rt-image-viewer-dialog-header-h, 0px)
  );
}
