.text-editor {
  position: relative;
  height: 100%;
}

.editor-content {
  font-size: var(--font-size-base);
  outline: none;
  height: 100%;
}

.placeholder {
  position: absolute;
  inset: 0;
  color: var(--color-text-muted);
  font-size: var(--font-size-base);
  pointer-events: none;
}

.text-bold {
  font-weight: var(--font-weight-bold);
}
.text-italic {
  font-style: italic;
}
